<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ResourceAccess</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>
       var socket = io.connect();
       console.log("CONNECTED VIA SOCKET "  );
       socket.on('message', function(v){ document.getElementById('display').innerHTML=v; });
</script>
<script type="text/javascript" src="QActorWebUI.js"></script>
</head>

<body>
<div class="container">
<h1>Robot Control</h1>

<br/><br/>
<center>
			<table style="background-color: #d9f7f3">
					<tr>
 						<td align="center">   
 							<form action="/robot/actions/commands/stop" method="post">
							  	<input type="submit" value="stop" class="btn btn-primary btn-block">
							</form>						
 						</td>
					</tr>
				</table>
</center>
</div>
<div>
	<span id="display">Display area</span>
</div>
</body>
</html>
